<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="QLNV_LINQ.Properties.Settings.QLNS_LINQConnectionString"
            connectionString="Data Source=LAB2-MAY11\SQLEXPRESS;Initial Catalog=QLNS_LINQ;Integrated Security=True"
            providerName="System.Data.SqlClient" />
		
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>